.content {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 768px;
    height: 100vh;
    margin: 0 auto;
}

.content__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.content__body-image {
    max-width: 425px;
}

.content__body-image img {
    width: 100%;
}

@media (max-width: 768px) {
  .content {
    width: auto;
  }
}