.content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    width: 768px;
    height: 100vh;
    margin: 0 auto;
}

.content__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__body-image {
    max-width: 525px;
}

.content__body-image img {
    width: 80%;   
}

.content__body-description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    max-width: 425px;
    padding: 0 12px;
}

.content__body-description--header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.content__body-description--text {
    font-size: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-wrap: wrap;
    column-gap: 4px;
    padding: 0 24px;
}

.button-wrapper:hover {
    cursor: pointer;
}

.content__body-description--icon {
    width: 64px;
}

.footer__gift-pile--left {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 55vw;
    height: auto;
    transform: translate(-45%, 11.5%);
    z-index: -1;
}

.footer__gift-pile--right {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 55vw;
    height: auto;
    transform: translate(40%, 15%);
    z-index: -1;
}

@media (max-width: 768px) {
    .content {
        width: auto;
    }

    .content__body-image img {
        width: 70%;   
    }

    .content__body-description--header {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .content__body-description--text {
        font-size: 16px;
    }

    .button-wrapper {
        font-size: 16px;
    }

    .content__body-description--icon {
        width: 48px;
    }
}

@media (max-width: 425px) {
    .footer__gift-pile--left {
        max-width: 80vw;
    }

    .footer__gift-pile--right {
        max-width: 80vw;
    }
}
