body {
  margin: 0;
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 120, 133, 1) 100%);
}

.float {
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.5));
}

@keyframes float {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-15px) scale(1.03);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
